.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
	margin: 10px;
	border: 2px black solid;
	margin: auto;
	background-color: whitesmoke;
	border-radius: 12px;
}

.btn {
	border: none;
	text-align: center;
	background-color: darkgray;
	border-radius: 12px;
	color: black;
	font-weight: bold;
	transition-duration: 0.3s;
	padding: 10px;
}

.btn:hover {
	background-color: orange;
}

.li {
	text-decoration: none;
	color: black;
	font-weight: bold;
	list-style: none;
}

.link {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}
