@tailwind base;
@tailwind components;
@tailwind utilities;

/* help me visualize the colors */
.root {
	.foreground-destructive {
		color: hsl(345, 83%, 41%);
	}
	.background {
		color: hsl(180, 9%, 93%);
	}
	.foreground {
		color: hsl(214, 76%, 19%);
	}
	.muted {
		color: hsl(15, 40%, 60%);
		.foreground {
			color: hsl(0 0% 50%);
		}
	}
	.popover {
		color: hsl(180, 9%, 93%);
		.foreground {
			color: hsl(0 0% 50%);
		}
	}
	.card {
		color: hsl(180, 9%, 100%);
		.foreground {
			color: hsl(214, 76%, 19%);
		}
	}
	.border {
		color: hsl(0, 0%, 50%);
	}
	.input {
		color: hsl(214 76.8% 19.19%);
		.invalid {
			color: hsl(0 84.2% 60.2%);
		}
	}
	.primary {
		color: hsl(15, 97%, 60%);
		.foreground {
			color: hsl(180, 9%, 93%);
		}
	}
	.secondary {
		color: hsl(214, 76%, 19%);
		.foreground {
			color: hsl(180, 9%, 93%);
		}
	}
	.accent {
		color: hsl(0, 100%, 85%);
		.foreground {
			color: hsl(214, 76%, 19%);
		}
	}
	.ring {
		color: hsl(214, 76%, 19%);
	}
	.destructive {
		color: hsl(0 70% 50%);
		.foreground {
			color: hsl(210, 40%, 98%);
		}
	}
}

@layer base {
	:root {
		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */
		--font-logo: 'League Spartan';
		--font-pixer: 'Pixer';
		--font-nourd: 'Nourd';
		/* --font-sans: 'Nourd'; */

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: 345 83% 41%;

		--background: 180 9% 93%;
		--foreground: 0 0 50%%;

		--muted: 15 40% 60%;
		--muted-foreground: 0 0% 50%;

		--popover: 180 9% 93%;
		--popover-foreground: 0 0% 50%;

		--card: 180 9% 93%;
		--card-foreground: 214 76% 19$;

		--border: 0 0% 50%;
		--input: 214 76% 19%;
		--input-invalid: 0 84.2% 60.2%;

		--primary: 15 97% 60%;
		--primary-foreground: 180 9% 93%;

		--secondary: 214 76% 19%;
		--secondary-foreground: 180 9% 93%;

		--accent: 0 100% 85%;
		--accent-foreground: 214 76% 19%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 15 97% 60%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		/* prefixed with foreground because it should look good on the background */
		--foreground-destructive: -4 84% 60%;

		--muted: 217.2 32.6% 12%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		/* --card: 180 9% 93%;
		--card-foreground: 210 40% 98%; */

		--border: 0 0% 50%;
		--input: 214 76% 19%;
		--input-invalid: 0 62.8% 30.6%;

		--primary: 210 40% 98 %;
		--primary-foreground: 214 76%, 19%;

		--secondary: 217.2 20% 24%;
		--secondary-foreground: 210 40% 98%;

		--accent: 15 97 60%;
		--accent-foreground: 214 76% 19%;

		--destructive: 0 70% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 214 76% 90%;
	}
}
